
.link-home{
  position: absolute;
  left: 30px;
  top: 30px;
}

.card{
  margin: 5px;
  margin-left: 25%;
  padding: 15px;
  border: 1px solid rgb(209, 212, 59);
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.card-prompt{
  display: inline-block;
  text-align: left;
  width: 25%;
  font-size: 16px;
}

.card-answer{
  display: inline-block;
  text-align: right;
  width: 25%;
  font-size: 16px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.text-revealed {
  animation-name: fade-in;
  animation-duration: 1s;
  visibility: visible;
}

.text-hidden {
  visibility: hidden;
}